@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* primary font style */
.font-family{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* primary button style */
.primary-btn{
  font-size: 0.9rem;
  font-weight: 600;
  color: #FFFFFF;
  background-color: #FF900E;
  padding: 16px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/*  header section styling */
.header-section{
  background-color: rgba(255, 144, 14, 0.1);
}

/* navbar styling */
.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links{
  display: flex;
  list-style: none;
}

.link-item{
  text-decoration: none;
  margin-left: 50px;
  font-size: 1rem;
  font-weight: 500;
  color: #424242;
}

.nav-container h1{
  font-size: 2.5rem;
  font-weight: bold;
  color: #131313;
}

/* banner styling */
.nav-container, .banner-container{
  max-width: 1090px;
  height: auto;
  margin: 0 auto;
}

.banner-container{
  margin-top: 90px;
}

.banner-text{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
}

.banner-text h1, p{
  margin-bottom: 20px;
}

.banner-text button{
  margin-bottom: 27px;
}


.banner-text h1{
  font-size: 3.7rem;
  font-weight: bold;
  color: #131313;
}

.banner-text p{
  font-size: 0.9rem;
  font-weight: normal;
  color: #727272;
}

.banner-image img{
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 30px;
}

/* Feature section styling */
.feature-container{
  max-width: 1030px;
  margin: 90px auto;
  display: flex;
}

.team-images{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.team-images img{
  max-width: 240px;
  border-radius: 13px;
}

.feature-texts{
  margin: auto auto auto 80px;
}

.feature-texts h3{
  font-size: 2.7rem;
  margin-bottom: 12px;
}

#Quick-letter{
  font-weight: normal;
  color: #727272;
}

#Our-letter{
  font-weight: bold;
  color: #131313;
}

#Features-letter{
  font-weight: bold;
  color: #FF900E;
}

.feature-texts p{
  font-size: 0.9rem;
  font-weight: normal;
  color: #727272;
}
 /*  loving feature section styling */
.loving_features{
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
}

.loving_features_contains{
  margin-right: 80px;
  margin-top: 40px;
}

.loving_features_contains h1{
  font-size: 2.7rem;
  font-weight: bold;
  color: #131313;
  border-left: 4px solid #FF900E;
  padding-left: 15px;
  margin-bottom: 20px;
}

.loving_features_contains p{
  font-size: 0.8rem;
  font-weight: normal;
  color: #727272;
  margin-top: 7px;
}

.loving_features_cards .card-container{
  background-color: #FFFFFF;
  padding: 30px 22px 10px 30px;
  box-shadow: 2px 2px 10px #A1A1A1;
  border-radius: 10px;
  margin-bottom: 17px;
}

.card-container h4{
    font-size: 1.2rem;
    font-weight: 600;
    color: #131313;
}

.card-container p{
  font-size: 0.8rem;
  font-weight: normal;
  color: #727272;
}

.loving_features_images img{
  max-width: 580px;
}

.feature-btn h1{
  font-size: 2.5rem;
  font-weight: bold;
  color: #FFFFFF;
}

.feature-btn h5{
  font-size: 0.9rem;
  font-weight: normal;
  color: #FFFFFF;
}

.feature-btn {
  padding: 35px 35px;
  background-color: #FF900E;
  border: none;
  border-radius: 5px;
  margin-top: -100px;
  margin-left: -50px;
}


/* responsive style */
/*  for small devices Like phone */
@media screen and (max-width : 576px) {
  .nav-container, 
  .nav-links,
  .feature-container{
    flex-direction: column;
  }

  .nav-links{
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
  }

  .banner-container{
    margin-top: 60px;
  }

  .banner-text h1{
    font-size: 2.8rem;
    font-weight: bold;
    color: #131313;
  }

  .banner-text h1{
    margin-bottom: 7px;
  }

  .banner-text p{
    margin-bottom: 12px;
  }
  
  .banner-text button{
    margin-bottom: 15px;
  }

  .team-images{
    grid-template-columns: 1fr;
    gap: 15px;
  }
  
  .team-images img{
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .feature-texts{
    margin: 0 10%;
  }
}

/*  for small devices Like phone */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .nav-container, 
  .nav-links,
  .feature-container{
    flex-direction: column;
  }

  .team-images{
    margin: 50px auto;
  }

  .feature-texts{
    margin: 0 21%;
  }
}